# clyde.one Caddy Server
# This server enables a reverse proxy to various applications
# that may or may not be running on this host
# 

# Reminder: copy this file to /etc/caddy/Caddyfile on the host
(landing) {

    # Reverse proxy to hit the local server serving
    # the Svelte site
    reverse_proxy localhost:9000
}

clyde.one {
    import landing
}
www.clyde.one {
    import landing
}

letter-boxed.clyde.one {
    reverse_proxy ec2-34-205-142-225.compute-1.amazonaws.com:3001
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
